<?xml version="1.0"?>
<launch>
  <!-- DRIVE SYSTEM ARDUINO NANO-->
  <!-- <node pkg="rosserial_python" type="serial_node.py" args="/dev/ttyUSB0 _baud:=57600" name="rosserial_forwad"/> -->

  <!-- LED INDICATOR STRIP NANO-->
  <include file="$(find information)/launch/indicator_init.launch"/>
  
  <!-- CAMERA -->
  <include file="$(find perception)/launch/camera_init.launch"/>
  
  <!-- LIDAR -->
  <include file="$(find perception)/launch/lidar_init.launch"/>

</launch>
