<!-- ### This launch file is enables manual drive with any node that publishes cmd_vel  ### -->
<!-- ### Requires encoder ticks published to topics lwheel (std_msgs/Int16) && rwheel (std_msgs/Int16)  ### -->
<!-- ### publishes wheel motor pwm values motor controller arduino should subscribe to -->

<launch>


  

<!-- #############    Drive and Motor Controllers  ##############-->

<node pkg="rqt_robot_steering" type="rqt_robot_steering" name="rqt_robot_steering" />
 

<include file="$(find veronica)/launch/base_drive.launch" />
<include file="$(find veronica)/launch/sensors.launch" />

</launch>
