<launch>

<!-- #############    Zed section  ##############-->

    <arg name="svo_file"             default="" /> <!-- <arg name="svo_file" default="path/to/svo/file.svo"> -->
    <arg name="stream"               default="" /> <!-- <arg name="stream" default="<ip_address>:<port>"> -->
    <arg name="zed_node_name"        default="zed_node" />
    <arg name="camera_model"         default="zed2" />
    <arg name="publish_urdf"         default="true" />
    <arg name="camera_name"          default="zed" />
    <arg name="base_frame"           default="base_link" /> 

    <!-- <include file="$(find vtab)/launch/zed_laserscan_nodelet.launch" /> -->
	
        <!-- ZED Wrapper Node-->
        <include file="$(find vtab)/launch/include/zed_camera.launch.xml">
            <arg name="camera_name"         value="$(arg camera_name)" />
            <arg name="svo_file"            value="$(arg svo_file)" />
            <arg name="stream"              value="$(arg stream)" />
            <arg name="node_name"           value="$(arg zed_node_name)" />
            <arg name="camera_model"        value="$(arg camera_model)" />
            <arg name="base_frame"          value="$(arg base_frame)" />
            <arg name="publish_urdf"        value="$(arg publish_urdf)" />
        </include>    



<!-- #############    Laser scanner  ##############-->
<node pkg="urg_node" type="urg_node" name="urg_node" >    
</node>
<node pkg="tf" type="static_transform_publisher" name="tf_base_link_laser" args="0.127 0 0.305 0 0 0 base_link laser 10" />  


<!-- #############    GPS -  UNCOMMENT THE correct LOCATION FOR THE MISSION  ##############-->
<include file="$(find rtk_gps)/launch/ntrip_mcors_detroit1.launch" />




  <node pkg="robot_pose_ekf" type="robot_pose_ekf" name="robot_pose_ekf">
    <remap from="vo" to="zed_node/odom"/>
    <remap from="imu" to="zed_node/imu/data"/>
    <param name="output_frame" value="odom"/>
    <param name="freq" value="30.0"/>
    <param name="sensor_timeout" value="1.0"/>
    <param name="odom_used" value="true"/>
    <param name="imu_used" value="true"/>
    <param name="vo_used" value="true"/>
    <param name="debug" value="false"/>
    <param name="self_diagnose" value="false"/>
  </node>


</launch>