<launch>

<!-- #############    GPS -  UNCOMMENT THE correct LOCATION FOR THE MISSION  ##############-->
<!--include file="$(find rtk_gps)/launch/ntrip_mcors_detroit1.launch" /-->
<include file="$(find rtk_gps)/launch/ntrip_mcors_auburn.launch" />
<!--include file="$(find rtk_gps)/launch/ntrip_mcors_warren.launch" /-->


 <node pkg="tf" type="static_transform_publisher" name="gps_base_tf" 
                  args="-.72 -19.0 1.57 0.0 0.0 0.0 base_link gps 100"/>


  <node pkg="robot_localization" type="navsat_transform_node" name="navsat_transform_node" respawn="true">
    <!--more params and descriptions in navsat_transform.yaml-->
    <param name="magnetic_declination_radians" value="-.1309"/>
    <param name="yaw_offset" value="1.5707693"/>
    <param name="wait_for_datum" value="false"/>
    <!--rosparam param="datum">[42.520046333,-83.128071667, 0.0, map, base_link] </rosparam-->

    <remap from="/imu/data" to="/zed/zed_node/imu/data" />
    <remap from="/gps/fix" to="/fix" />
    <remap from="/odometry/filtered" to="/zed/zed_node/odom" /> <!-- input for transforming gps to odom pose-->
    <param name="broadcast_utm_transform" value="true"/>
    <param name="publish_filtered_gps" value="true"/>
    <!-- will output an odom message on topic = odometry/gps-->
    

  </node>



</launch>




