<?xml version="1.0"?> 
<launch>
    <arg name="svo_file"             default="" /> <!-- <arg name="svo_file" default="path/to/svo/file.svo"> -->
    <arg name="stream"               default="" /> <!-- <arg name="stream" default="<ip_address>:<port>"> -->
    <arg name="zed_node_name"        default="zed_node" />
    <arg name="camera_model"         default="zed2" />
    <arg name="publish_urdf"         default="true" />
    <arg name="camera_name"          default="zed" />
    <arg name="base_frame"           default="base_link" /> 

    <!-- <include file="$(find vtab)/launch/zed_laserscan_nodelet.launch" /> -->
	
    <group ns="$(arg camera_name)">
        <!-- ZED Wrapper Node-->
        <include file="$(find vtab)/launch/include/zed_camera.launch.xml">
            <arg name="camera_name"         value="$(arg camera_name)" />
            <arg name="svo_file"            value="$(arg svo_file)" />
            <arg name="stream"              value="$(arg stream)" />
            <arg name="node_name"           value="$(arg zed_node_name)" />
            <arg name="camera_model"        value="$(arg camera_model)" />
            <arg name="base_frame"          value="$(arg base_frame)" />
            <arg name="publish_urdf"        value="$(arg publish_urdf)" />
        </include>    
  
        <!-- RTAB-Map -->
        <arg name="custom_rtabmap_launch_file" default="$(find vtab)/launch/include/sl_rtabmap.launch.xml"/>
        <include file="$(arg custom_rtabmap_launch_file)">
            <arg name="localization"            default="false" />
            <arg name="odom_topic"              default="$(arg zed_node_name)/odom" />
            <arg name="rgb_topic"               default="$(arg zed_node_name)/rgb/image_rect_color" />
            <arg name="depth_topic"             default="$(arg zed_node_name)/depth/depth_registered" />
            <arg name="camera_info_topic"       default="$(arg zed_node_name)/rgb/camera_info" />
            <arg name="depth_camera_info_topic" default="$(arg zed_node_name)/depth/camera_info" />

        </include>   

        <!-- Rviz -->
        <node name="rviz" pkg="rviz" type="rviz" args="-d $(find vtab)/rviz/zed-rtabmap.rviz" output="screen" /> 
    </group>

    <include file="$(find veronica)/launch/base_drive.launch" />
    <node pkg="rqt_robot_steering" type="rqt_robot_steering" name="rqt_robot_steering" />


</launch>
